@import "tailwindcss";

@keyframes jumpLetter {

  0% {
    transform: translateY(0);
    filter: blur(0);
  }

  40% {
    transform: translateY(-18px);
    filter: blur(1px);
    color: #facc15;
  }

  70% {
    transform: translateY(-6px);
    filter: blur(0.5px);
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
    color: #eab308;
  }

}

.animate-jump {
  animation-name: jumpLetter;
  animation-fill-mode: both;
}


.skill-card {
  position: relative;
  overflow: hidden;
}

/* moving border */
.skill-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 12px;

  background: linear-gradient(
    90deg,
    transparent,
    #facc15,
    transparent
  );

  background-size: 200% 200%;
  animation: borderMove 3s linear infinite;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes borderMove {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}


/* Smooth theme transition */

body, div, section, nav, button, a {
  transition: background-color 0.4s ease,
              color 0.4s ease,
              border-color 0.4s ease;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}